body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.editor {
  background-color: #efefef;
  padding: 20px;
  position: fixed;
  overflow: scroll;
  right: 0;
  top: 0;
  bottom: 0;
}

.editor h2 {
  color: #336699;
  font-size: 1.1em;
  margin-top: 0;
}

.editor h3, .editor .property {
  color: #222;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: bold;
}

.editor section {
  width: 100%;
  margin-bottom: 30px;
}

.editor input.name {
  display: block;
}

.editor .widget {
  margin-bottom: 20px;
}

.editor textarea {
  height: 5em;
}

.editor textarea.body {
  height: 10em;
}

.editor textarea, .editor input {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  width: 30em;
  border: 1px solid #ccc;
  margin-top: 3px;
}
